@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --blue-color: #A2D2FF;
    --white-color: #FFFFFF;
    --gray-color-1: #949494;
    --gray-color-2: #e7e7e7;
}

html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(100px, 200px));
    gap: 10px;
    padding: 0 100px;
}

.tile {
    font-size: 4rem;
    border: 2px solid black;
}

.tile:hover {
    transform: scale(1.02);
    background-color: var(--gray-color-2);
}

.X {
    background-color: rgb(212, 169, 169);
}

.O {
    background-color: rgb(148, 216, 228);
}

.top-bar {
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#logo-text {
    font-size: 3rem;
    color: var(--white-color);
}

#current-player {
    padding: 50px;
}

.enter-names .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(4px);
    display: flex;
}

.enter-names .player-names {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 50px;
}

.enter-names.inactive .overlay {
    display: none;
}

.enter-names.inactive .player-names {
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}

.input {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.enter-names #message {
    font-size: 1.85rem;
    padding: 30px 0;
}

input {
    font-size: 1.2rem;
    height: auto;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--gray-color-1);
    border-radius: 2px;
}

input:focus {
    outline: none;
}

#play-btn {
    margin-top: 20px;
}

.restart-game .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(4px);
    display: none;
}

.restart-game .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 50px;
}

.restart-game.active .overlay {
    display: flex;
}

.restart-game.active .game-over {
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

#close-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: var(--gray-color-2);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
}

#close-btn:hover {
    transform: scale(1.05);
}

#message {
    padding: 30px;
    font-size: 2rem;
}

#result {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

#restart-btn, #play-btn {
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color-1);
}

#restart-btn:hover, #play-btn:hover {
    transform: scale(1.02);
    background-color: var(--gray-color-2);
}